/*# Entete
--------------------------------------------------------------*/
/*
author:Raphael Dodier
date: 2020-02-10
*/
header {
  text-align: center;
}

header h1, header h2 {
  text-shadow: 2px 2px 9px #64f021;
}

header h1 {
  font-size: 3em;
}

header h2 {
  font-size: 2em;
}

header h3 {
  font-size: 1.5em;
}

/* ------------------------------------------------------------
# Tableau
--------------------------------------------------------------*/
/*
author:Raphael Dodier
date: 2020-02-10
*/
#horaire {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.2fr (1fr)[5];
      grid-template-columns: 0.2fr repeat(5, 1fr);
  -ms-grid-rows: (auto)[12];
      grid-template-rows: repeat(12, auto);
  background-color: #e0e0e0;
  text-align: center;
  border: 1px solid #aaa;
  margin: 2% 2% 0 2%;
}

#horaire div {
  border: 1px solid #aaa;
}

#horaire div p {
  margin: 2% 0;
}

#horaire div p:first-child {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 4px;
}

#horaire div p:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
}

#horaire :nth-child(1) {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 2;
}

#horaire :nth-child(2) {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 2;
}

#horaire :nth-child(3) {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 2;
}

#horaire :nth-child(4) {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 2;
}

#horaire :nth-child(5) {
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: 2;
}

#horaire .range_jour {
  background-color: #effa90;
  -ms-grid-row: 1;
  grid-area: 1/2/1/-1;
}

#horaire :nth-child(n+7):nth-child(-n+12) {
  border: 1px solid black;
}

#horaire :nth-child(7) {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  z-index: 2;
}

#horaire :nth-child(8) {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
  z-index: 2;
}

#horaire :nth-child(9) {
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 1;
  grid-column: 1;
  z-index: 2;
}

#horaire :nth-child(10) {
  -ms-grid-row: 7;
  grid-row: 7;
  -ms-grid-column: 1;
  grid-column: 1;
  z-index: 2;
}

#horaire :nth-child(11) {
  -ms-grid-row: 10;
  grid-row: 10;
  -ms-grid-column: 1;
  grid-column: 1;
  z-index: 2;
}

#horaire :nth-child(12) {
  -ms-grid-row: 12;
  grid-row: 12;
  -ms-grid-column: 1;
  grid-column: 1;
  z-index: 2;
}

#horaire .colonne_heure {
  background-color: #c6fa83;
  -ms-grid-column: 1;
  grid-area: 2/1/-1/1;
}

#horaire .veille {
  background-color: aquamarine;
}

#horaire .projet {
  background-color: yellow;
}

#horaire .video {
  background-color: orange;
}

#horaire .stage {
  background-color: black;
  color: white;
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  line-height: 50px;
}

#horaire .stage p {
  margin: 1px;
  font-size: 35px;
}

#horaire .lundi {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2 / 6;
  -ms-grid-column: 2;
  grid-column: 2;
}

#horaire .mardi {
  -ms-grid-row: 8;
  -ms-grid-row-span: 4;
  grid-row: 8 / 12;
  -ms-grid-column: 3;
  grid-column: 3;
}

#horaire .mercredi_1 {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
}

#horaire .mercredi_2 {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  grid-row: 7/12;
}

#horaire .vendredi_1 {
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
}

#horaire .vendredi_2 {
  -ms-grid-column: 6;
  grid-column: 6;
  -ms-grid-row: 6;
  -ms-grid-row-span: 4;
  grid-row: 6/10;
}

@media screen and (max-width: 575px) {
  #horaire h2 {
    font-size: 15px;
  }
  #horaire div p {
    font-size: 12px;
  }
  #horaire div p:first-child {
    font-size: 15px;
  }
  #horaire div p:nth-child(2) {
    font-size: 14px;
  }
  #horaire .stage p {
    font-size: 20px;
  }
}

/*# Element
--------------------------------------------------------------*/
/*
author:Raphael Dodier
date: 2020-02-10
*/
body {
  background-color: #d4aaaa;
}
/*# sourceMappingURL=style.css.map */