//css responsable de l'entete (ÉLÉMENT HTML DÉSACTIVER)

/*
author:Raphael Dodier
date: 2020-02-10
*/

header{
    text-align: center;
    h1,h2{
        text-shadow:2px 2px 9px rgb(100, 240, 33);
    }

    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.5em;
    }
}